.H2:first-child {
  margin-top: 0;
}

.HeadingLink {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-2);
  color: inherit;
  text-wrap: balance;
}

.HeadingLink svg {
  color: var(--gray-11);
  visibility: hidden;
}

.HeadingLink:hover svg {
  visibility: visible;
}

.UnorderedList {
  padding-inline-start: var(--space-5);
}

.UnorderedList .UnorderedList {
  margin-top: var(--space-2);
  margin-bottom: 0;
}

.OrderedList {
  padding-inline-start: var(--space-5);
}

.Blockquote {
  font-style: italic;
}
