.H {
  scroll-margin-top: var(--space-9);
}

.H2:first-child {
  margin-top: 0;
}

.HeadingLink {
  /* display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-2);
  text-wrap: balance; */
  color: inherit;

  & svg {
    color: var(--gray-11);
    visibility: hidden;
  }

  &:hover svg {
    visibility: visible;
  }
}

.Link {
  & svg {
    margin-left: var(--space-1);
    color: var(--gray-9);
  }
}

.List {
  padding-inline-start: var(--space-5);

  & .List {
    margin-top: var(--space-2);
    /* margin-bottom: 0; */
    padding-inline-start: var(--space-4);
  }
}

.ListItem {
  & .List {
    padding-inline-start: var(--space-4);
  }
}
