.H {
  scroll-margin-top: var(--space-9);
}

.H2:first-child {
  margin-top: 0;
}

.HeadingLink {
  display: inline-block;
  vertical-align: middle;

  svg {
    margin-left: var(--space-2);
    color: var(--gray-11);
    visibility: hidden;
  }

  &:hover svg {
    visibility: visible;
  }
}

.Link {
  svg {
    margin-left: var(--space-1);
    color: var(--gray-9);
  }
}

.List {
  padding-inline-start: var(--space-5);

  .List {
    padding-inline-start: var(--space-5);
  }
}

.ListItem {
  .ListItem {
    margin-top: var(--space-1);
    margin-bottom: 0;
  }
}
