.HeadingLink {
  display: inline-block;
  vertical-align: middle;

  &:not(:hover) {
    color: var(--gray-12);
  }

  svg {
    margin-left: var(--space-2);
    color: var(--gray-11);
    visibility: hidden;
  }

  &:not(:empty):hover svg {
    visibility: visible;
  }
}
