@import "@radix-ui/themes/styles.css";
@import "theme-config.css";
@import "cmdk.css";
@import "rehype-pretty-code.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--gray-12);
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
}

pre {
  margin: 0;
}

/* -------------------------------------------------------------------- */

:root {
  --header-max-width: 1400px;
  --header-height: 52px;
}

/* :root {
  --header-max-width: 1400px;
  --header-height: 48px;

  @media (min-width: 768px) {
    --header-height: 52px;
  }
} */

/* -------------------------------------------------------------------- */

:root,
.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

:root,
.light:not(.system) {
  --light-theme-icon-display: block;
  --dark-theme-icon-display: none;
  --system-theme-icon-display: none;
}
.dark:not(.system) {
  --light-theme-icon-display: none;
  --dark-theme-icon-display: block;
  --system-theme-icon-display: none;
}
.system {
  --light-theme-icon-display: none;
  --dark-theme-icon-display: none;
  --system-theme-icon-display: block;
}
