@import "@radix-ui/themes/styles.css";
@import "theme-config.css";
@import "cmdk.css";

/* -------------------------------------------------------------------- */
/* CSS RESET                                                            */
/* -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  color: var(--gray-12);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  z-index: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
}

pre {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* -------------------------------------------------------------------- */

:root {
  --header-height: 52px;
  --header-max-width: 1440px;
  --home-page-max-width: 1200px;
  --docs-page-max-width: 858px;
}

:root,
.light:not(.system) {
  --light-theme-icon-display: block;
  --dark-theme-icon-display: none;
  --system-theme-icon-display: none;
}
.dark:not(.system) {
  --light-theme-icon-display: none;
  --dark-theme-icon-display: block;
  --system-theme-icon-display: none;
}
.system {
  --light-theme-icon-display: none;
  --dark-theme-icon-display: none;
  --system-theme-icon-display: block;
}

/* -------------------------------------------------------------------- */

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
}
