.radix-themes {
  --default-font-family: var(--font-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --heading-font-family: var(--font-heading), var(--default-font-family);

  &[data-is-root-theme="true"] {
    min-height: 100vh;
  }
}
