.radix-themes-custom-fonts {
  --default-font-family: var(--font-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --heading-font-family: var(--font-heading), var(--default-font-family);

  --code-font-family: var(--font-mono), "Menlo", "Consolas (Custom)",
    "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji";
}

/* -------------------------------------------------------------------- */

.radix-themes {
  &[data-is-root-theme="true"] {
    min-height: 100vh;
  }
}

/* -------------------------------------------------------------------- */

.rt-Heading {
  &:where(.rt-r-size-1) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-2) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-3) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-4) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-5) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-6) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-7) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-8) {
    letter-spacing: 0em;
  }
  &:where(.rt-r-size-9) {
    letter-spacing: 0em;
  }
}
