.radix-themes-custom-fonts {
  --default-font-family: var(--font-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --heading-font-family: var(--font-heading), var(--default-font-family);

  --code-font-family: var(--font-mono), "Menlo", "Consolas (Custom)",
    "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji";
}

/* -------------------------------------------------------------------- */

.radix-themes {
  &[data-is-root-theme="true"] {
    min-height: 100vh;
  }
}
