.LinkHeading {
  position: relative;

  &:not(:hover) {
    color: var(--gray-12);
  }

  svg {
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--space-2));
    transform: translate(-50%, -50%);
    color: var(--gray-11);
    display: none;
  }

  &:hover svg {
    display: block;
  }
}
