.Pre {
  box-sizing: border-box;
  border-radius: var(--radius-4);
  padding: var(--space-4) var(--space-5);
  overflow: auto;
  position: relative;
  background-color: var(--accent-a2);
  color: var(--gray-12);
  box-shadow:
    inset 0 0 0 1px var(--accent-a1),
    inset 0 0 0 1px var(--gray-a5);

  .Pre > code {
    display: block;
  }

  & > code {
    font-size: calc(var(--font-size-2) * var(--code-font-size-adjust));
    font-family: var(--code-font-family);
    line-height: 22px;

    min-width: 100%;
    border-width: 0;
    box-decoration-break: clone;

    display: block;
    counter-reset: line;
    counter-increment: line calc(var(--line-number-start, 1) - 1);
  }

  & > code > span {
    padding-left: var(--space-2);
    padding-right: var(--space-5);

    &::before {
      content: counter(line);
      counter-increment: line;
      width: 1rem;
      margin-right: var(--space-5);
      display: inline-block;
      text-align: right;
      color: var(--gray-10);
      user-select: none;
      -webkit-user-select: none;
    }
  }
}
