/* .CommandMenuDialogTriggerButton {
  display: flex;
  @media (min-width: 520px) {
    display: none;
  }
}

.CommandMenuDialogTriggerIconButton {
  display: none;
  @media (min-width: 520px) {
    display: flex;
  }
} */

.CommandMenuDialogContent {
  padding: 0;
  overflow: hidden;
  border-radius: var(--radius-4);
  box-shadow: none;
}
