.DynamicIsland {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-a3);
  color: var(--gray-a8);
  border: 1px solid var(--gray-a3);
  /* padding: var(--space-3); */
}
