/* 
 * HeaderInner, HeaderInnerBackdrop with extended backdrop filters.
 * Background color =  var(--color-page-background) / 0.8
 */

 .HeaderInner {
  position: relative;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0 1px transparent;
}

.HeaderRoot:is(.sticky) .HeaderInner {
  position: fixed;
}

.HeaderRoot:is(.sticky) .HeaderInner {
  transition:
    background-color 180ms,
    box-shadow 180ms;
}

/* Faster transition when the header gains background and slower when it loses it. */
.HeaderRoot:is(.sticky[data-scroll-state="scrolling-down"]) .HeaderInner {
  transition-duration: 30ms, 120ms;
}

.HeaderRoot:is(.sticky):not(.ghost[data-scroll-state="at-top"]) > .HeaderInner {
  box-shadow: 0 1px var(--gray-a4);
}

.HeaderRoot:is(.sticky):not(.ghost[data-scroll-state="at-top"])
  > .HeaderInner
  > .HeaderInnerBackdrop {
  background-color: var(--color-page-background);

  /* If browser supports relative color, then change background color alpha value and apply backdrop filters. */
  @supports (color: rgb(from white r g b)) {
    background-color: rgb(from var(--color-page-background) r g b / 0.8);

    /* Extended backdrop filters */
    --extended-by: 6.25rem;
    --cutoff: calc(100% - var(--extended-by));
    position: absolute;
    top: 0;
    bottom: calc(-1 * var(--extended-by));
    left: 0;
    right: 0;
    z-index: -1;
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--cutoff),
      transparent var(--cutoff)
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--cutoff),
      transparent var(--cutoff)
    );
    --blur: 20px;
    --saturate: 1.8;
    backdrop-filter: blur(var(--blur)) saturate(var(--saturate));
    -webkit-backdrop-filter: blur(var(--blur)) saturate(var(--saturate));
  }
}
