/*
 * HeaderInner with simple backdrop filters.
 * Background color =  var(--color-background) / 0.8
 */

.HeaderInner {
  position: relative;
  z-index: 2;
  inset: 0;
  height: inherit;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0 1px transparent;
}

.HeaderRoot:is(.Sticky) .HeaderInner {
  position: fixed;
}

.HeaderRoot:is(.Sticky) .HeaderInner {
  transition:
    background-color 180ms,
    box-shadow 180ms;
}

/* Faster transition when the header gains background and slower when it loses it. */
.HeaderRoot:is(.Sticky[data-scroll-state="scrolling-down"]) .HeaderInner {
  transition-duration: 30ms, 120ms;
}

.HeaderRoot:is(.Sticky):not(.Ghost[data-scroll-state="at-top"]) > .HeaderInner {
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);

  /* If browser supports relative color, then change nackground color alpha value and apply backdrop filters. */
  @supports (color: rgb(from white r g b)) {
    background-color: rgb(from var(--color-background) r g b / 0.8);

    /* Simple backdrop filters */
    --blur: 20px;
    --saturate: 1.8;
    backdrop-filter: blur(var(--blur)) saturate(var(--saturate));
    -webkit-backdrop-filter: blur(var(--blur)) saturate(var(--saturate));
  }
}
