.PopoverTrigger:where([data-state="closed"], [aria-expanded="false"]) {
  --mobile-menu-toggle-hamburger-menu-icon-display: block;
  --mobile-menu-toggle-close-icon-display: none;
}

.PopoverTrigger:where([data-state="open"], [aria-expanded="true"]) {
  --mobile-menu-toggle-hamburger-menu-icon-display: none;
  --mobile-menu-toggle-close-icon-display: block;
}
