.ProjectPreviewContainer {
  &:not(:hover) {
    .ProjectPreviewHeading {
      color: var(--gray-12);
      text-decoration: none;
    }
  }

  &:hover {
    .ProjectPreviewHeading {
      text-decoration: underline;
    }
  }

  .ProjectPreviewMetadata {
    color: var(--gray-11);
    margin: var(--space-3) 0;

    /* position: relative;
    padding-left: var(--space-3);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      z-index: 3;
      width: 2px;
      height: 100%;
      background: var(--gray-8);
    } */
  }
}
