.radix-themes {
	& {
		--default-font-family: var(--font-sans);
		--code-font-family: var(--font-mono);
	}

	& {
		--font-weight-light: 250;
		--font-weight-regular: 350;
		--font-weight-medium: 550;
		--font-weight-bold: 750;
	}
}
